@font-face {
    font-family: 'gora_free';
    src: url('../fonts/gora-free.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /* font-display: optional; */
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 1060px;
}

.header {
    background: #131415;
    font-weight: 700;
    color: #fff;
}

.header__logo, .header__contact, .header__nav {
    float: left;
    width: 20%;
}

.header__logo {
    margin-top: 10px;
}

a.logo {
    font-family: 'gora_free', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #f89513;
    letter-spacing: 2px;
}

ul.menu, li.menu, a, .logo, .contacts {
    display: inline-block;
    text-decoration: none;
}

.contacts {
    float: right;
}

/* ul.menu {
    text-align: center;
} */


.header__nav {
    width: 60%;
    text-align: center;
    margin-top: 10px;
}

.header__contact {
    text-align: right;
}

.nav {
    display: inline-block;
}

.nav__main {
    background: url(../IMG/Menu/main_icon.png)0 0 no-repeat;
}
.nav__feed {
    background: url(../IMG/Menu/feed_icon.png)0 0 no-repeat;
}
.nav__service {
    background: url(../IMG/Menu/service_icon.png)0 0 no-repeat;
}

.nav__link {
    float: left;
    margin-right: 20px;
}

.nav__icon {
    width: 24px;
    height: 16px;
    /* display: inline-block;
    vertical-align: middle; */
;

}

.contacts__phone {
    font-size: 21px;
    color: #fff;
}

.contacts__desc {
    text-decoration: underline;
    color: rgba(248, 149, 19, 0.7);
    text-align: right;
    font-size: 14px;
}

/* ХЛЕБНЫЕ КРОШКИ */

/* .breadcrumbs {
    margin: 45px 0 0px 110px;
}

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item::after { */
    /* Ставим / между слов */
    /* content: "/";
    color: #221f1f;
    opacity: .8;
}

.breadcrumbs__item:last-child::after { */
    /* Убираем последний элемент */
    /* display: none;
}

.readcrumbs__item-link {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #f89513;
    text-decoration: underline;
}

.readcrumbs__item-link_activ {
    color: #221f1f;
    opacity: .8;
    text-decoration: none;
} */

.banner {
    background-image: url(../IMG/Banner/Image.png);
    background-position:center center;
   /* background-size:cover; */
    background-repeat: no-repeat;
    /* width: 1040px; */
    height: 620px;
}

.news {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.news__box {
    display: flex;
    justify-content: center;
}

.last-news {
    font-family: 'Open Sans', sans-serif;
}

.news__fresh {
    width: 830px;
    float: left;
    margin-left: 20px;
}

.news__old-top {
    float: right;
    width: 160px;
    margin-right: 20px;
}

.news__old-foto {
    background-position: center center;
    background-size: cover;
    width: 160px;
    margin-top: 20px;
}

.news__foto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.news__text {
    width: 610px;
    float: left;
}

.news__data {
    font-size: 14px;
    font-weight: 300;
}

.news__title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.news__content {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

.news__fresh__list {
    list-style: none;
}

.news__items {
    border-bottom: 2px solid #f5f5f5;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 800px;
}

.news__items:last-child {
    border-bottom: none;
}

.features {
    background: #131415;
    color: #fff;
    width: 100%;
    height: 570px;
}

.features__head {
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
}

.features__content {
    /* display: inline-block;
    position: relative; */
    display: flex;
    justify-content: center;
    /* width: 741px; */
    margin-left: 180px;
    margin-right: 180px;
}

.features__options {
    display: inline-block;
    text-align: center;
    width: 200px;
    /* margin: 0 35px 0 35px; */
}

.uniq {
    margin-right: 35px;
}

.prem {
    margin-left: 35px;
    margin-right: 35px;
}

.coach {
    margin-left: 35px;
}

.features__list {
    text-align: left;
    list-style-position: inside;
}

.heading {
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
}

.features__options-text {
    font-size: 18px;
    font-weight: 400;
}

.pagination {
    text-align: center;
}

.pagination__controls, .pagination__display, .pagination__list, .pagination__item, .pagination__btn {
    display: inline-block;
    vertical-align: middle;
}

.pagination__display {
    font-size: 14px;
    font-weight: 300;
    color: #656464;
    margin-right: 20px;
}

.pagination__page {
    display: block;
    padding: 5px 0;
    width: 25px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.pagination__page-active {
    background: #27273e;
    color: #fff;
}