.header {
    min-width: 1100px;
    background: #131415;
    font-weight: 700;
    color: #fff;
    min-height: 75px;
    position: relative;
}

.container {
    margin: 0 auto;
    /* padding: 20px; */
    width: 1060px;
    min-height: 46px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 20px);

}

/* .clearfix:after {
    content: "";
    display: block;
    clear: both;
} */

.header__logo, .header__contact, .header__nav {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    /* padding-top: 20px; */
}


a.logo {
    font-family: 'gora_free', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #f89513;
    letter-spacing: 2px;
    /* padding-top: 10px; */
}

/*ul.menu, li.menu,*/

a, .logo, .contacts {
    display: inline-block;
    text-decoration: none;
}

.contacts {
    float: right;
}

/* ul.menu {
    text-align: center;
} */

address {
    font-style: normal;
}

.header__nav {
    /* width: 60%; */
    /* min-height: 50px; */
    /* display: inline-block;
    text-align: center;
    margin-top: 10px; */
}

.header__nav {
    /* width: 60%; */
    /* min-height: 50px; */
    /* display: inline-block;
    text-align: center;
    margin-top: 10px; */
}

.header__contact {
    text-align: right;
}

.menu {
    width: 100%;
    /* padding: 10px; */
    text-align: justify;
    font-size: 0%;
   
}

.nav {
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    height: 25px;
    /* margin-top: 7px; */
}
/* 
.menu::after {
    content: "";
    width: 100%;
    display: inline-block;
    height: 0; */
}

.nav__item {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin:0 13px;
}

.nav__item_ferst {
    margin-left: 0;
} 

.nav__link:hover {
    color: #f89513;
    /* background: url(../../IMG/Menu/hover/main_icon_hover.png)0 0 no-repeat;
    background: url(../../IMG/Menu/hover/feed_icon_hover.png)0 0 no-repeat;
    background: url(../../IMG/Menu/hover/service_icon_hover.png)0 0 no-repeat; */
}

.nav__main {
    background: url(../../IMG/Menu/main_icon.png)0 0 no-repeat;
}
.nav__link:hover .nav__main--hover {
    background: url(../../IMG/Menu/hover/main_icon_hover.png)0 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
}

.nav__feed {
    background: url(../../IMG/Menu/feed_icon.png);
}
.nav__link:hover .nav__feed--hover {
    background: url(../../IMG/Menu/hover/feed_icon_hover.png)0 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
}

.nav__service {
    background: url(../../IMG/Menu/service_icon.png)0 0 no-repeat;
}
.nav__link:hover .nav__service--hover {
    background: url(../../IMG/Menu/hover/service_icon_hover.png)0 0 no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
}

/* .nav__link:hover .nav__main--hover
.nav__feed--hover
.nav__service--hover {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
} */

.nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.29;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    /* float: left;
    margin-right: 20px; */
}

.nav__icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
}



.contacts__phone {
    font-size: 21px;
    color: #fff;
}

.contacts__desc {
    text-decoration: underline;
    color: rgba(248, 149, 19, 0.7);
    text-align: right;
    font-size: 14px;
}
.contacts__desc:hover {
    color:#b9b9b9;
    cursor: pointer;
}

[data-tooltip] {
    position: relative;
    /* Относительное позиционирование */
}

/* Выводим треугольник */

[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: 1.4em;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 10px solid #e6e4e4;
}

/* Выводим саму подсказку */

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 130px;
    /* Ширина подсказки */
    left: 30px;
    top: 2em;
    /* Положение подсказки */
    background: #e6e4e4;
    /* Синий цвет фона */
    color: #f89513;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    border-radius: 5px;
    /* Скругляем уголки */
}